# pip freeeze is used to get requirements.txt of the project (can be used to get extact version used in the project
asgiref==3.11.0
Django==5.2.9
django-phonenumber-field==8.4.0
djangorestframework==3.16.1
phonenumbers==9.0.19
Pillow==12.0.0
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2

